<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Sample App</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link"  (click)="homeFunc($event)" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="searchFunc($event)">Search Promo</a>
    </li>
  </ul>
</nav>
